
body {
 background-color:#000000;
}


.image1 {
    left : 987px;
    width: auto;
    position:absolute;
    top: 50px;
}

.image2 {
    left : 288px;
    width: auto;
    position:absolute;
    top: 700px;
}

#barreverticale1 {
       position:absolute;
       height: 364px;
       width: 10px;
       left:168px;
       background-color:#EFD807;
       z-index: 0;
       top:68px;
        }

#barreverticale2 {
       position:absolute;
       height: 364px;
       width: 10px;
       left:286px;
       background-color:#EFD807;
       z-index: 0;
       top:68px;
        }

#barreverticale3 {
       position:absolute;
       height: 364px;
       width: 10px;
       left:404px;
       background-color:#EFD807;
       z-index: 0;
       top:68px;
        }

#barreverticale4 {
       position:absolute;
       height: 364px;
       width: 10px;
       left:522px;
       background-color:#EFD807;
       z-index: 0;
       top:68px;
        }


#barrehorizontale1 {
       position:absolute;
       height: 10px;
       width: 364px;
       left:168px;
       background-color:#EFD807;
       z-index: 0;
       top:68px;
        }


#barrehorizontale2 {
       position:absolute;
       height: 10px;
       width: 364px;
       left:168px;
       background-color:#EFD807;
       z-index: 0;
       top:186px;
        }


#barrehorizontale3 {
       position:absolute;
       height: 10px;
       width: 364px;
       left:168px;
       background-color:#EFD807;
       z-index: 0;
       top:304px;
        }


#barrehorizontale4 {
       position:absolute;
       height: 10px;
       width: 364px;
       left:168px;
       background-color:#EFD807;
       z-index: 0;
       top:422px;
        }
        



#case0c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
    left: 178px;
    top:78px;
}



#case1c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 296px;
    top:78px;
    
}    

#case2c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 414px;
    top:78px;
   } 

#case3c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 178px;
    top:196px;
    }

#case4c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
         left: 296px;
    top:196px;
    
    }

#case5c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
         left: 414px;
    top:196px;
    }

#case6c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
         left: 178px;
    top:314px;
    }

#case7c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 296px;
    top:314px;
    }
    

#case8c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 414px;
    top:314px;
        
}


#case0c {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
    left: 178px;
    top:78px;
}



#rond1r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 296px;
    top:78px;
    
}    

#rond2r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 414px;
    top:78px;
   } 

#rond3r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 178px;
    top:196px;
    }

#rond4r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
         left: 296px;
    top:196px;
    
    }

#rond5r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
         left: 414px;
    top:196px;
    }

#rond6r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
         left: 178px;
    top:314px;
    }

#rond7r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 296px;
    top:314px;
    }
    

#rond8r {
       position:absolute;
       height: 104px;
       width: 108px;
       visibility: hidden;
       z-index: 1;   
        color:#EFD807;
      left: 414px;
    top:314px;
        
}